:root {
    --primary-color: #023047;
    --secondary-color: #FB8500; 
    --accent1-color: #219ebc;
    --accent2-color: #8ecae6;
    --paragraph-font: 'Montserrat', sans-serif; 
    --title-font: 'Montserrat', sans-serif, 700;
}

header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header__image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
   
}

.logo__image {
    border-radius: 20px;
    border: 1px solid #000000;
    height: 150px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 10px 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 -2px; 
    box-sizing: border-box;
    
}

nav a:hover {
    background-color: var(--secondary-color);
}
