:root {
    --primary-color: #023047;
    --secondary-color: #FB8500; 
    --accent1-color: #219ebc;
    --accent2-color: #8ecae6;
    --paragraph-font: 'Montserrat', sans-serif; 
    --title-font: 'Montserrat', sans-serif, 700;
}

body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--title-font);
}

p {
    padding: 25px;
}

.colored__text {
color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

.colours__palette {
    padding: 20px;
}
 
  .colours__palette .img__palette {
    height: 100px;
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}
